body {
    background-color: #fdfdfc;
}


.head {
    background-color: #f2f2e6;
    min-width: 100%;
    height:auto;
}





.dishes { display: block; overflow: hidden; }
.dishes > li, .dishes > .dish { display: block;  float: left; padding-bottom: 0; }
.dishes.two_up { margin-left: -4%; }
.dishes.two_up > li, .dishes.two_up > .dish { margin-left: 4%; width: 46%; }
.dishes.three_up, .dishes.line_up { margin-left: -2%; }
.dishes.three_up > li, .dishes.three_up > .dish { margin-left: 2%; width: 31.3%; }
.dishes.line_up > li, .dishes.line_up > .dish {padding:1%; margin-left: 2%; margin-bottom: 2%; margin-top: 2%; width: 23%;height: 100px; border-width: 1px;border-color:#664e4d; border-style:solid;}
.dishes.five_up { margin-left: -1.5%; }
.dishes.five_up > li, .dishes.five_up > .dish { margin-left: 1.5%; width: 18.5%; }

.blk:hover {

 -webkit-box-reflect: below 0px -webkit-gradient(linear, 
    left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
   -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}

.dishname {
    font-weight: bold;
}

.dishprice {
    text-align: right;
}



#navbut {
    color:#664e4d;
}

#bachata_logo {
  display:block;
   margin-left: 2px;
}

#bachata_logo img {
  height:120px;

}