body {
    background-color: #fdfdfc;
}


.head {
    background-color: #f2f2e6;
    min-width: 100%;
   
}




.footer {
    background-color: #664e4d;
    min-width: 100%;
    height:15%;
    top:15%;    
}

.dishes { display: block; overflow: hidden; }
.dishes > li, .dishes > .dish { display: block;  float: left; padding-bottom: 0; }
.dishes.two_up { margin-left: -4%; }
.dishes.two_up > li, .dishes.two_up > .dish { margin-left: 4%; width: 46%; }
.dishes.three_up, .dishes.line_up { margin-left: -2%; }
.dishes.three_up > li, .dishes.three_up > .dish { margin-left: 2%; width: 31.3%; }
.dishes.line_up > li, .dishes.line_up > .dish {padding:1%; margin-left: 2%; margin-bottom: 2%; margin-top: 2%; width: 23%;height: 100px; border-width: 1px;border-color:#664e4d; border-style:solid;}
.dishes.five_up { margin-left: -1.5%; }
.dishes.five_up > li, .dishes.five_up > .dish { margin-left: 1.5%; width: 18.5%; }



.dishname {
    font-weight: bold;
}

.dishprice {
    text-align: right;
}



#navbut {

    right: 1px;
    height: 100%;
    font-size:16px;
    font-family:Arial;
    font-weight:bold;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border:1px solid #eeb44f;
    padding:12px 22px;
    text-decoration:none;
    background:-moz-linear-gradient( center top, #fa8a00 5%, #f78800 100% );
    background:-ms-linear-gradient( top, #fa8a00 5%, #f78800 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa8a00', endColorstr='#f78800');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fa8a00), color-stop(100%, #f78800) );
    background-color:#fa8a00;
   display:inline-block;
    text-align: center;
    color: white;
}#navbut:hover {
    background:-moz-linear-gradient( center top, #f78800 5%, #fa8a00 100% );
    background:-ms-linear-gradient( top, #f78800 5%, #fa8a00 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f78800', endColorstr='#fa8a00');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #f78800), color-stop(100%, #fa8a00) );
    background-color:#f78800;
}#navbut:active {
    position:relative;
    top:1px;
}


#bachata_logo {
    position: relative;
  bottom:50%;
  height:100%;
  text-align: center;

   }
#bachata_logo img {
    position:relative; 
  height:40%;
   }

p {
    margin: 1em 0;
    text-align: center
    }
.popup__overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    text-align: center;
    z-index:300;
    }
    .popup__overlay:after {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        height: 100%;
        width: 0;
        vertical-align: middle;
        content: ''
        }
    /* Added for IE<9 compatibility */
    .popup__overlay_ie {
        background: #000;
        opacity: .7;
        filter: alpha(opacity=70)
        }
.popup {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    max-width: 80%;
    padding: 20px;
    border: 5px solid #fff;
    border-color: #664e4d;
    
    background: #fff;
    vertical-align: middle
    }
/* Added instead of :after pseudoelement */
.popup__valignfix {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 0;
    height: 100%;
    vertical-align: middle
    }
.popup-form__row {
    margin: 1em 0
    }
label {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 120px;
    text-align: left
    }

.popup__close {
    display: block;
    position: absolute;   
    
    cursor: pointer;
    background: #fff;
    text-align: center;}

#navbut i {
    color:white;
    display: table-cell;
}

#popup__toggle {
    color:white;
    font-size: 15px;
}


#searcher {
  padding: 2px;
  
}

#search_btn {
  background-color:#f2f2e6;
}


#logout {
    position: relative;
    left: 600px;
    bottom:50px;
    display: table-cell;
    color:black;
}

#basket {
    position: relative;
    left: 400px;
    top: 50px;
    display: table-cell;
    color:black;
}


#view_category {
    color:black;
}

#view_category:hover{
    color:white;
}




th, td{
    border: 1px solid white;
    text-align: center; 
    vertical-align: middle;
}