body {
    background-color: #fdfdfc;
}


.head {
    background-color: #f2f2e6;
    min-width: 100%;
   
}




.footer {
    background-color: #664e4d;
    min-width: 100%;
    height:15%;
    top:15%;    
}

.dishes { display: block; overflow: hidden;}
.dishes > li, .dishes > .dish { display: block;  float: left; padding-bottom: 0;}
.dishes.two_up { margin-left: -4%; }
.dishes.two_up > li, .dishes.two_up > .dish { margin-left: 4%; width: 46%; }
.dishes.three_up, .dishes.line_up { margin-left: -2%; }
.dishes.three_up > li, .dishes.three_up > .dish { margin-left: 2%; width: 31.3%; }
.dishes.line_up > li, .dishes.line_up > .dish {margin-left: 1%; margin-bottom: 0%; margin-top: 1%; width: 32%;height: 150px; border-width: 1px;border-color:#664e4d; border-style:solid;}
.dishes.five_up { margin-left: -1.5%; }
.dishes.five_up > li, .dishes.five_up > .dish { margin-left: 1.5%; width: 18.5%; }
.dishdesc {
	line-height: 13px;
	font-size: 11px;
	width: 89%;
	text-align: justify;
}



.dishname {
    font-weight: bold;
    font-size: 15px;
}

.dishprice {
    float: right;
}

#bachata_logo {
    position: relative;
  bottom:50%;
  height:100%;
  text-align: center;

   }
#bachata_logo img {
    position:relative; 
  height:40%;
   }

p {
    margin: 1em 0;
    text-align: center
    }
.popup__overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    text-align: center;
    z-index:360;
    }
    .popup__overlay:after {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        height: 100%;
        width: 0;
        vertical-align: middle;
        content: ''
        }
    /* Added for IE<9 compatibility */
    .popup__overlay_ie {
        background: #000;
        opacity: .7;
        filter: alpha(opacity=70)
        }
.popup {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    max-width: 80%;
    padding: 20px;
    border: 5px solid #fff;
    border-color: #664e4d;
    
    background: #fff;
    vertical-align: middle
    }

.popup_edit_dish {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    max-width: 700px; 
    background: #664e4d;
    border-bottom: 10px solid white;
    vertical-align: middle
}
.popup_edit_dish .row {
    background-color: white;
    padding-right: 5px;
    padding-left: 10px
}
.popup_edit_dish .title {
    color: white;
    text-align: center;
    font-size: 150%;
    margin: 10px;
    width: 100%
}
.popup_edit_dish .actions {
    float:right;
    padding-bottom: 7px;
    padding-right: 10px
}
.description {
    line-height: 13px;
font-size: 11px
}

/* Added instead of :after pseudoelement */
.popup__valignfix {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 0;
    height: 100%;
    vertical-align: middle
    }
.popup-form__row {
    margin: 1em 0
    }
label {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 120px;
    text-align: left
    }

.popup__close {
    display: block;
    position: absolute;   
    
    cursor: pointer;
    background: #fff;
    text-align: center;}

#navbut i {
    color:white;
    display: table-cell;
}

#popup__toggle {
    color:white;
    font-size: 15px;
    position: fixed;
    left:15px;
    z-index: 320;
    top:130px;
    width:20%;
  }
#cat__toggle {
    color:white;
    font-size: 15px;
    position: fixed;
    left:15px;
    z-index: 320;
    top:165px;
    width:20%;     
}

.cat__overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    text-align: center;
    z-index:360;
    }
    .cat__overlay:after {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        height: 100%;
        width: 0;
        vertical-align: middle;
        content: ''
        }
    /* Added for IE<9 compatibility */
    .cat__overlay_ie {
        background: #000;
        opacity: .7;
        filter: alpha(opacity=70)
        }
.cat_popup {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    max-width: 80%;
    padding: 20px;
    border: 5px solid #fff;
    border-color: #664e4d;
    
    background: #fff;
    vertical-align: middle
    }
/* Added instead of :after pseudoelement */
.cat_popup__valignfix {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 0;
    height: 100%;
    vertical-align: middle
    }
.cat_popup-form__row {
    margin: 1em 0
    }
.cat__close {
    display: block;
    position: absolute;   
    
    cursor: pointer;
    background: #fff;
    text-align: center;}

#menu_trigger {
    color:white;
    font-size: 25px;
    position: fixed;
    left:15px;
    z-index: 320;
    top:100px;
    width:20%; 
}

#search__toggle {
    color:white;
    font-size: 15px;
    position: fixed;
    left:15px;
    z-index: 320;
    top:130px;
    width:20%;
  }

#searcher {
  padding: 2px;
  
}

#search_btn {
  background-color:#f2f2e6;
}


#logout {
    position: relative;
    left: 600px;
    bottom:50px;
    display: table-cell;
    color:black;
}

#basket {
    position: relative;
    left: 400px;
    top: 50px;
    display: table-cell;
    color:black;
}


#view_category {
    color:black;
}

#view_category:hover{
    color:white;
}

#resetter{
    display: none;
    background-color:#f2f2e6; 
}

#mainmenu {
    position: fixed;
    top: 1em;
    left: 1em;
    width:20%;
    height:100%;
    background-color: #664e4d;
    border-color: white;
    border-width: 20px;
    z-index: 300;
}


th, td{
    border: 1px solid white;
    text-align: center; 
    vertical-align: middle;
}

.menu__overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    text-align: center;
    z-index:300;
    }
    .menu__overlay:after {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        height: 100%;
        width: 0;
        vertical-align: middle;
        content: ''
        }
    /* Added for IE<9 compatibility */
    .menu__overlay_ie {
        background: #000;
        opacity: .7;
        filter: alpha(opacity=70)
        }
.men_popup {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    max-width: 80%;
    padding: 20px;
    border: 5px solid #fff;
    border-color: #664e4d;
    
    background: #fff;
    vertical-align: middle
    }
/* Added instead of :after pseudoelement */
.men_popup__valignfix {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 0;
    height: 100%;
    vertical-align: middle
    }
.men_popup-form__row {
    margin: 1em 0
    }



label {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 120px;
    text-align: left
    }

/******************START ORDERS CSS**************************/
/***********************ORDERS*******************************/
.orderBlock {
    background-color: #F7F7ED;
}

.OrderRow1 {
    border-bottom: dashed 1px #ccc !important;
    padding-bottom: 4px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.OrderRow1 span{
    color: #664e4d; font-weight:bold;
    cursor: pointer !important;
}

.OrderButtonsFloat {
    float: right !important;
}

.OrderRow2 {
    padding-left: 4px !important;
    padding-right: 4px !important;
    padding-top: 4px !important;
}

.OrderRow2 span{
    color: red;
}

.OrderBtN {
width: 80px !important;
}

.OrderRemoveBtn {
    background-color: red !important;
}

/***********************END ORDERS***************************/
/***********************TICKETS******************************/
.TicketHover {
    padding:4px !important; 
    dashed 1px #ccc !important;
    margin-bottom: 4px !important;
    border-bottom: dashed 1px #ccc !important; 
    position: relative !important;
}

.ticketCountInOrder {
    width: 35px !important;
    text-align:center !important;
}

.closeTicket {
    background-image: url("static/img/trash16.png") !important;
    width: 16px !important;
    height: 16px !important;
    float: right !important;
    margin-right: 5px !important;
    margin-top: 5px !important;
}

.TicketHover:HOVER {
    background-color: #E1E1D5 !important;
}

.BtnCornerDivide {
    position:absolute !important;
    bottom:0 !important;
    right:0 !important;
    border-right: 30px solid #664e4d !important;
    border-top: 30px solid transparent !important;
    cursor: pointer !important;
}

.CursorPointer {
    cursor: pointer !important;
}
/***********************END TICKETS**************************/
/***********************CART*********************************/
.myRow {
    padding: 2px !important;
    /*line-height: 12px !important;*/
}

.cartTicketToDeleteRow {
    border-top: dashed 1px !important;
}


#bucket {
    background-color: #F2F2E6; 
    position : fixed !important;
    bottom: 0 !important;
    right: 0 !important;
    /*margin: 5px !important;*/
    bottom: 0 !important;
    right: 0 !important;
    right: 0 !important;
    padding: 0 !important;
    max-width: 400px !important;
    width: 400px !important;
    display: none;
}

.CartDellTicket {
    padding: 18px 5px 0 0 !important;
    cursor: pointer !important;
}

.cartImg {
    padding: 5px 0px 0px 5px !important;
}

.CartHead {
    text-align: center !important;
    background-color: #664e4d !important;
    color: white !important;
    font-weight: bold !important;
    padding: 0px !important;
}

#CartHeadBtn {
    float: right !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    cursor: pointer !important;
}

.CartTickets {
    background-color: #F2F2E6 !important;
    font-size: 14px !important;
    overflow: auto !important;
    max-height: 400px !important;
}

.CartTickets input{
    background-color: #F2F2E6 !important;
    border: 0 !important;
}

.CartBtnFooter {
    width: 100px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.CartBtnFooter button {
    font-weight: bold !important;
}

.CartFooter {
    text-align: center !important;
    padding-bottom: 5px !important;
}
/***********************END CART*****************************/
/******************END ORDERS CSS****************************/
