
<div class="row text-center">

    
      <div class="field centered ten columns">  
      <form method="post" name="catform" action="#" id="catform">
        <fieldset>
  <legend>Please, enter new category name</legend>
  <ul>
    <li class="field">
      <label class="centered inline" for="text1">New category</label>
      <input class="narrow text input" id="text1" type="text" name="category" />
      </li>
      <div  class="medium success btn centered four columns" id= "addCat"><a>Add category</a></div>
      </ul>
      </form>
