<div id="popup__toggle" class="medium success btn centered"><a>Add new</a></div>


<div class="popup__overlay">
    <div class="popup">
        <a href="#admin" class="popup__close"><i class="icon-cancel-squared"></i></a>
        <div class="row text-center" style="text-align:right;">

   <div class="field centered ten columns">
     <form  method="post" name="new_user" id="new_user" action="/adduser">
       <fieldset>
         <legend>Add user</legend>

         <ul class="two_up tiles">
           <li class="field"><label class="centered inline" for="text1">Name</label>
           <input name="f_name" class="wide text input" type="text" id="f_name"/></li>

           <li class="field"><label class="centered inline" for="text1">Last
           name</label> <input name="l_name" class="wide text input" type="text" id ="l_name"/></li>

           <li class="field"><label class="centered inline" for="text1">Login</label>
           <input name="login" type="text" class="wide text input" id="login" /></li>

           <li class="field"><label class="centered inline" for="text1">Password</label>
           <input name="password" type="password" class="wide text input" id="password"/></li>

           <li class="field"><label class="centered inline" for="text1">Email</label>
           <input name="email" type="text" class="wide text input" id= "email"/></li>

           <li class="field"><label class="centered inline" for="text1">Status</label>
           <input name="id_status" type="number" class="wide text input" id="id_status"/></li>

           <li class="field">
             <div class="picker">
               <select name="id_role" size="1" id="id_role">
                 <option value="1">
                   Waiter
                 </option>

                 <option value="2">
                   Cooker
                 </option>

                 <option value="3">
                   Manager
                 </option>

                 <option value="admin">
                   Admin
                 </option>
               </select>
             </div>
           </li>

           <li style="list-style: none; display: inline">
             <div class="medium success btn centered four columns">
               <input type="submit" value="Add user" id="adduser"/>
             </div>
           </li>
         </ul>
       </fieldset>
     </form>
   </div>
 </div> 
    </div>
    <!--[if lt IE 9]><div class="popup__valignfix"></div><![endif]-->
</div>

   
<script>p = $('.popup__overlay')
$('#popup__toggle').click(function() {
    p.css('display', 'block')
})
p.click(function(event) {
    e = event || window.event
    if (e.target == this) {
        $(p).css('display', 'none')
    }
})
$('.popup__close').click(function() {
    p.css('display', 'none')
})</script>
