<div id="bucket" >
	<div class="row CartHead">
		Cart
		<div id="CartHeadBtn">
			<b>X</b>
		</div>
	</div>
	<div class="CartTickets">
		<%_.each(order.toArray(),function(ticket, key){ %>
		<div id="cartTicketToDelete_<%= key %>" class="row myRow cartTicketToDeleteRow" >
			<div class="two columns"  >
				<img class="cartImg" src="<%= ticket.get("image") %>">
			</div>
			<div class="eight columns">
				<div class="row myRow">
					<div class="columns seven"><%= ticket.get("name") %></div>
					<div class="columns">Count
					   <input id="CartDishId_<%= key %>" name="CartDishCount" value="<%=ticket.get("count") %>" size="2" type="text">
					</div>
				</div>
				<div class="row myRow">
					<div class="columns seven">Price <%= ticket.get("price")%>$</div>
					<div class="columns ticketTotalPrice">Total <%= ticket.get("price")*ticket.get("count")%>$</div>
				</div>
			</div>
			<div class="two columns CartDellTicket">
				<div class="CartTrashImg" id="cartTicketId_<%= key %>"></div>
			</div>
		</div>
		<% }) %>
	</div>
	<div class="row CartFooter">
		<div class="small success btn CartBtnFooter cartRefreshBucket">
			<button type="button">Cancel</button>
		</div>
		<div class="small success btn CartBtnFooter cartAddOrder" >
			<button type="button" disabled>Save</button>
		</div>
	</div>
</div>