<div class="text-center">
  <li class="prepend append field" >
    <div class="adjoined" id="resetter">X</div>
      <input class="wide text input" type="text" id ="search" placeholder="Fast search" />
      <div class="adjoined" id="search_btn">
        <i class="icon-search"></i>
      </div>
  </li>
  <table cellpadding="1" cellspacing="1" class = "striped">
     <caption id="category_block">
      <% _.each(categories.toJSON(), function(category) { %>
        <div class="medium secondary btn">
          <button type="button" value = "<%- category.id %>" id = "view_category">
            <%- category.category %>
          </button>
        </div>
      <% }) %>   
     </caption>       
     <thead>
        <tr>
           <th scope="col">
            <input name="choos_all" type="checkbox" />
           </th>
           <th scope="col">Id</th>
           <th scope="col">Name</th>
           <th scope="col">Description</th>
           <th scope="col">Image</th>
           <th scope="col">Price</th>
           <th scope="col">Count</th>
           <th scope="col">Status</th>
           <th scope="col"></th>
           <th scope="col"></th>
        </tr>
     </thead>
     <tbody id="dishes">
      
     </tbody>
  </table>
</div>

