<div class="menu__overlay">
  <div class="menu_popup">
    <div id="mainmenu">      
      <img src="/static/img/logo_actions.png" alt="none" width="20%">
    </div>
    <div class="medium success btn centered" id="menu_trigger">
      Add...<i class="icon-play"></i>
    </div>
    <div id="btnblock">
      <div id="popup__toggle" class="medium success btn centered">
        <a>Dish</a>
      </div>
      <div id="cat__toggle" class="medium success btn centered">
        <a>Category</a>
      </div>
    </div> 
    <div id="bulk_trigger" class="medium success btn centered">
      Bulk Operations <i class="icon-play"></i>
    </div> 
    <div id="advanced_search_popup" class="medium success btn centered">
      Advanced Search <i class="icon-search"></i>
    </div> 

    <div id="btnblock2">

</div> 
      <div id="remove_selected" class="medium success btn centered">
        <a>Remove Selected</a>
      </div>
      <div id="change_status" class="medium success btn centered">
        <a>Change status<i class="icon-play"></i></a>
      </div>
            <div id="change_category" class="medium success btn centered">
        <a>Change category<i class="icon-play"></i></a>
      </div>            
  </div>
</div>

  <script type="text/javascript">
   p = $('.menu__overlay');
                $('#menu__toggle').click(function() {
                    p.css('display', 'block');
                });
                p.click(function(event) {
                    e = event || window.event;
                    if (e.target == this) {
                        $(p).css('display', 'none');
                    }
                });
                $('.popup__close').click(function() {
                    p.css('display', 'none');
                });
  </script>
