<% _.each(dishes.toJSON(), function(dish) { %>
      <tr>
        <td>
          <input name="choos_one" type="checkbox" />
        </td>               
        <td><%- dish.id %></td>               
        <td style="min-width: 149px"><%- dish.name %></td>
        <td class="description"><%- dish.description %></td>
        <td>
          <img style="width: 100px; max-width: 100px; height: 50px" src="<%- dish.image %>"/>
        </td>
        <td><%- dish.price %></td>
        <td><%- dish.count %></td>
        <td><%- dish.status %></td>
        <td class="text-center">
          <input type="image"
                 src="static/img/edit.png" 
                 width="25px" 
                 height="25px" 
                 value="<%- dish.id %>" 
                 id="edit_dish" />
        </td>
        <td class="text-center">
            <input type="image"
                   src="static/img/trash.png" 
                   width="25px" 
                   height="25px" 
                   value="<%- dish.id %>"  
                   id="dishDrop" />
        </td>
      </tr>
<% }); %>