   <div class="row text-center">

   <div class="field centered eight columns ">
       <form method="post" name="loginform" id="loginform" action = "/login">
           <fieldset>
               <legend>Please, enter your login and password</legend>
               <ul>
               <li class="field"><label class="centered inline" for="text1">Your
                       Login</label> <input class="narrow text input" id="text1" type="text"
                   placeholder="login" name="username" /></li>
               <li class="field"><label class="inline" for="text2">Password</label>
                   <input class="narrow password input" id="text2" type="password"
                   placeholder="password" name="password" /></li>
               </ul>
           </fieldset>
           <div class="medium success btn centered four columns">
               <input type="submit" id="trylog"/>
           </div>
       </form>
   </div>
</div>

