<style> 
.OrderImg {
    width: 54px !important;
    height: 54px !important;
    background-image: url("static/img/purchase.png");
    background-position: 5px !important;
    margin-top: -10px !important;
}
</style>
<% _.each(orders.toArray(), function(order) {%>
	<div class="row Order" id="Order_<%= order.get("id") %>">
		<div class="twelve columns centered orderBlock">
			<div class="row OrderRow1" >
				<div class="columns">
					<span id="<%= order.get("id") %>">Order #<%= order.get("id") %></span>
				</div>
				<div class="columns OrderButtonsFloat">
				<% if( order.get("status") != "Closed") { %>
				    <% if( role == 2) { %>
				    <div class="small success btn OrderBtN">
                        <button type="button" class="RemoveOrderBtn OrderRemoveBtn" value="<%= order.get("id") %>">Remove</button>
                    </div>
			    	<div class="small success btn OrderBtN">
                        <button type="button" class="DivideOrderBtn" value="<%= order.get("id") %>">Divide</button>
                    </div>
					<div class="small success btn OrderBtN">
						<button type="button" class="EditOrderBtn" value="<%= order.get("id") %>">Edit</button>
					</div>
					<% }  %>
					<div class="small success btn OrderBtN">
						<button type="button" class="closeOrder" value="<%= order.get("id") %>">Close</button>
					</div>
				<% }  %>
				</div>
			</div>
			<div class="row OrderRow2" >
				<div class="two columns OrderImg"></div>
				<div class="eight columns">Curent order status:</div>
				<div class="two columns" style="text-align: right; float: right;">
					<span <% if( order.get("status") == "Pending") { %> style="color: green;"<% }  %> ><%= order.get("status") %></span>
				</div>
				<div class="three columns TotalOrderPrice_<%= order.get("id") %>">Total price: <%= order.get("TotalCount") %>$</div>
			</div>
			<div id="OpCl_<%= order.get("id") %>" class="row" style="display: none; background-color: white;"></div>
		</div>
	</div>
<% }) %>