<fieldset>
    <legend>Orders: </legend>
    <table align="center" border="1" cellpadding="1" cellspacing="1">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Status</th>
                <th scope="col">Waiter</th>
                <th scope="col">Price</th>
                <th scope="col">Edit</th>
                <th scope="col"></th>
                <th scope="col">
                    <div class="small success btn">
                        <input onclick="document.location='#close'" value="Close all" type="button">
                        <form id="deleteall" method="post" action="#deleteall" name="delete">
                             <input name="all" value="1" style="align: center; height: 28px; width: 97px" type="checkbox">                        
                        </form>

                    </div>
                </th>
            </tr>

        </thead>
        <tbody>
            <% _.each(orders.toArray(), function(order) {%>
            <tr>
                <td><%= order.get("id") %></td>
                <td>status: <%= order.get("status") %></td>
                <td><%= order.get("waiter_name") %>waiter name</td>
                <td><%= order.get("full_price") %>full price</td>
                <td>
                    <div class="small success btn">
                        <input onclick="document.location='#/edit_order/<%= order.get("id") %>'" value="Edit"
                            type="button">
                    </div>
                </td>
                <td>
                    <div class="small success btn">
                        <input onclick="document.location='#close'" value="Close"
                            type="button">
                    </div>
                </td>
                <td>
                    <input form="deleteall" name="ch_1" value="1"
                        style="align: center; height: 28px; width: 97px" type="checkbox">
                </td>

            </tr>
            <% })%>
        </tbody>
    </table>
</fieldset>
</script>

    <script type="text/template" id="edit_order_template">
<fieldset>
    <legend>Order tickets: </legend>
    <table align="center" border="1" cellpadding="1" cellspacing="1">
        <thead>
            <tr>
                <th scope="col">Image</th>

                <th scope="col">Name</th>

                <th scope="col">Desription</th>

                <th scope="col">Count</th>

                <th scope="col">Price</th>
                <th scope="col">Edit</th>
                <th scope="col"></th>
                <th scope="col">
                    <div class="small success btn">
                        <input onclick="document.location='#close'" value="Close all" type="button">
                        <form id="deleteall" method="post" action="#deleteall" name="delete">
                             <input name="all" value="1" style="align: center; height: 28px; width: 97px" type="checkbox">                        
                        </form>
                </th>
            </tr>

        </thead>
        <tbody>
            <% _.each(order.toArray(),function(ticket){ %>
            <tr>
                <td><img width="100" height="100"
                    src="<%= ticket.get("image") %>">
                </td>

                <td><%= ticket.get("name") %></td>

                <td><%= ticket.get("description") %></td>
                
                <td><input type="text" name="count" value="<%= ticket.get("count") %>"
                    style="width: 35px; text-align: center;"></td>

                <td><%= ticket.get("price") %></td>
                                <td>
                    <div class="small success btn">
                        <input onclick="document.location='#edit_order'"
                            value="Edit" type="button">
                    </div>
                </td>
                <td>
                    <div class="small success btn">
                        <input onclick="document.location='#delete_order'"
                            value="Delete" type="button">
                    </div>
                </td>
                <td>
                    <input form="deleteall" name="ch_1" value="1"
                        style="align: center; height: 28px; width: 97px" type="checkbox">
                </td>

            </tr>
            <% }) %>
        </tbody>
        
    </table>
</fieldset>