<fieldset>
    <legend>Orders: </legend>
    <table align="center" border="1" cellpadding="1" cellspacing="1">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Status</th>
                <th scope="col">Waiter</th>
                <th scope="col">Price</th>
                <th scope="col">Edit</th>
                <th scope="col"></th>
                <th scope="col">
                    <div class="small success btn">
                        <input onclick="document.location='#close'" value="Close all" type="button">
                        <form id="deleteall" method="post" action="#deleteall" name="delete">
                             <input name="all" value="1" style="align: center; height: 28px; width: 97px" type="checkbox">                        
                        </form>

                    </div>
                </th>
            </tr>

        </thead>
        <tbody>
            <% _.each(orders.toArray(), function(order) {%>
            <tr id="<%= order.get("id") %>">
                <td><%= order.get("id") %></td>
                <td>status: <%= order.get("status") %></td>
                <td><%= order.get("waiter_name") %>waiter name</td>
                <td><%= order.get("full_price") %>full price</td>
                <td>
                    <div class="small success btn">
                        <a href='#/edit_order/<%= order.get("id") %>' >Edit</a>
                    </div>
                </td>
                <td>
                    <div class="small success btn">
                        <button type="button" value='<%= order.get("id") %>' class="closeOrder">Close</button>
                    </div>
                </td>
                <td>
                    <input form="deleteall" name="ch_1" value="1"
                        style="align: center; height: 28px; width: 97px" type="checkbox">
                </td>

            </tr>
            <% })%>
        </tbody>
    </table>
</fieldset>