<% _.each(order.toArray(),function(ticket){ %>
<div class="row TicketHover" id="Ticket_<%= ticket.get("id") %>">
	<div class="two columns">
		<img width="100" height="100" src="<%= ticket.get("image") %>">
	</div>
	<div class="ten columns">
		<div class="row">
			<div class="five columns"><%= ticket.get("name") %></div>
			<div class="five columns">
				Count <input class="ticketCountInOrder orderId_<%= order.orderId %>"
					type="text" name="<%= ticket.get("id") %>"
				value="<%=ticket.get("count") %>">
			</div>
			<div class="two columns CursorPointer">
				<div class="closeTicket orderId_<%= order.orderId %>" id="<%= ticket.get("id") %>" ></div>
			</div>
		</div>
		<div class="row">
			<div class="five columns">Price: <%= ticket.get("price") %>$</div>
			<div id="totalPrice_<%= ticket.get("id") %>" class="five
				columns TotalPrice">Total: <%=
				ticket.get("count")*ticket.get("price") %>$</div>
			<div class="two columns"></div>
		</div>
	</div>
	<div id="BtnCornerDivideId_<%= ticket.get("id") %>" class="BtnCornerDivide"></div>
</div>
<% }) %>
