
<table align="center" border="1" cellpadding="1" cellspacing="1" >


   <caption>
     All users
   </caption>

   <thead>
     <tr>

       <th scope="col">Name</th>

       <th scope="col">Last name</th>

       <th scope="col">Login</th>

       <th scope="col">Email</th>

       <th scope="col">Role</th>

       <th scope="col">Edit</th>

       <th scope="col">Delete</th>

       <th scope="col">
         <form id="deleteall" method="post" action="/deleteall" name="deleteall"></form>

         <div class="small success btn">
           <input type="submit" value="X" form="deleteall" />
         </div>
       </th>
       
     </tr>
   </thead>



<% _.each(users.toArray(), function(user, key, list) { %>
     <tr>
       

       <td><%- user.get('f_name') %></td>

       <td><%- user.get('l_name') %></td>

       <td><%- user.get('login') %></td>

       <td><%- user.get('email') %></td>

       <td><%- user.get('id_role') %></td>


       <td>
         <div class="small success btn">
           <a href='/#/edit_user?id="<%= user.get("id") %>"'>Edit</a>
         </div>
       </td>

       <td>
         <div class="small success btn">
           <input type='button' onclick="document.location='/delete_user?id=<%= user.get('id') %>"
           value="Delete" />
         </div>
       </td>

       <td><input form="deleteall" name="ch_<%= user.get("id") %>" type="checkbox" value= '<%= user.get("id") %>'
        style="align:center;" /></td>
     
<% }) %>
     </tr>
   </tbody>

 </table>
