<div class="text-center">
  <li class="prepend append field" >
    <div class="adjoined" id="resetter">X</div>
      <input class="wide text input" type="text" id ="search" placeholder="Fast search" />
      <div class="medium success btn" id="search_btn">
        <i class="icon-search"></i>
      </div>
  </li>
<table class = "striped" align="center" border="1" cellpadding="1" cellspacing="1" >



   <thead>

     <tr>

       <th scope="col">Name</th>

       <th scope="col">Last name</th>

       <th scope="col">Login</th>

       <th scope="col">Email</th>

       <th scope="col">Role</th>

       <th scope="col">Edit</th>

       <th scope="col">Delete</th>

       <th scope="col">
         <form id="deleteall" method="post" action="/deleteall" name="deleteall"></form>

         <div class="small success btn">
           <input type="submit" value="X" form="deleteall" />
         </div>
       </th>
       
     </tr>
   </thead>



<% _.each(users.toArray(), function(user, key, list) { %>
     <tr>
        <td><input form="deleteall" name="ch_<%= user.get("id") %>" type="checkbox" value= '<%= user.get("id") %>'
        style="align:center;" /></td>

       <td><%- user.get('f_name') %></td>

       <td><%- user.get('l_name') %></td>

       <td><%- user.get('login') %></td>

       <td><%- user.get('email') %></td>

       <td><%- user.get('id_role') %></td>


       <td>
       <a href="#/edit_user/<%= user.id %>">
       <div>
       
         <i class="icon-pencil">         
         </i>
         </div>
         </a>
       </td>
       
       <td>
         <div onclick="document.location='/users?id=<%= user.get('id') %>">
           <i class="icon-cancel-circled" 
            />
         </i>
         </div>
       </td>

      
     
<% }) %>
     </tr>
   </tbody>

