<% _.each(dishes.toArray(), function(dish) { %>
<div class="dish blk" style="position: relative; background: url(<%- dish.get('image') %>); padding-top: 8%;">
    <div style="background-color: rgba(255, 255, 255, 0.6); min-height: 73px;">
	<div class="row" style="padding-right: 1%">
		<div class="columns dishname"><%- dish.get('name') %></div>
		<div class="dishprice columns"><%- dish.get('price') %>$</div>
	</div>
	<div class="row" style="padding-right: 1%">
	<div class="dishdesc"><%- dish.get('description') %></div>
	<div class="imgToAddDishToCart" style="position: absolute; bottom: 0; right: 0; padding-right: 2%;">
	<img src="static/img/rsz_shop_basket.png">
	</div>
	</div>
	
	</div>
</div>
<% }) %>
