<% _.each(dishes.toArray(), function(dish) { %>
<div class="dish blk DishBlk" style="background: url(<%- dish.get ( 'image')%>);">
	<div class="dishShadow" >
		<div class="row DishRow">
			<div class="columns dishname"><%- dish.get('name') %></div>
			<div class="dishprice columns"><%- dish.get('price') %>$</div>
		</div>
		<div class="row DishRow" >
			<div class="dishdesc"><%- dish.get('description') %></div>
			<div id="WaiterDishId_<%- dish.get('id') %>" class="imgToAddDishToCart"></div>
		</div>

	</div>
</div>
<% }) %>
