<html>
	<head>
		<title></title>
	</head>
	<body>
		<p style="text-align: center;">
			Admin Page<br />
			Hello, username<br />
			&nbsp;</p>
		<form enctype="text/plain" method="post" name="manage_form" target="_blank">
			<p style="text-align: center;">
				<input name="add_user" type="button" value="ADD USER" /><input name="make_order" type="button" value="MAKE ORDER" />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<input name="search" type="submit" /><input name="search_user" type="text" value="search" /></p>
		</form>
		<form method="post" name="table_manage">
			<p style="text-align: center;">
				<input name="us_edit" type="button" value="EDIT" /><input name="del_us" type="button" value="DELETE USER" /></p>
			<table align="center" border="1" cellpadding="1" cellspacing="1" style="width: 500px; height: 30px;">
				<thead>
					<tr>
						<th scope="col">
							USER NAME</th>
						<th scope="col">
							STATUS</th>
						<th scope="col">
							&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="text-align: center;">
							VASYA PUPKIN</td>
						<td style="text-align: center;">
							ACTIVE</td>
						<td style="text-align: center;">
							<input checked="checked" type="checkbox" value="1" /></td>
					</tr>
					<tr>
						<td style="text-align: center;">
							KOLYA TYORKIN</td>
						<td style="text-align: center;">
							REMOVED</td>
						<td style="text-align: center;">
							<input type="checkbox" /></td>
					</tr>
				</tbody>
			</table>
		</form>
		<p>
			&nbsp;</p>
	</body>
</html>
