<!DOCTYPE html>
<html>
	<head>
		<title>Create dish</title>
	</head>
	<body>
		<div class="create_menu">
			<form method="post" name="create_menu_form">
				<p style="text-align: center;">
					Add dishes</p>
				<p style="text-align: center;">
					Dish name<input name="name" type="text" />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Price<input name="price" type="text" /></p>
				<p style="text-align: center;">
					Status<input name="status" type="text" />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Count<input name="count" type="text" /></p>
				<p style="text-align: center;">
					Category<input name="id_category" type="text" /></p>
				<p style="text-align: center;">
					Description<br />
					<textarea cols="10" name="Description" rows="3"></textarea></p>
				<p style="text-align: center;">
					<input name="new_menu_button" type="button" value="Create" /></p>
			</form>
		</div>
		<p>
			&nbsp;</p>
	</body>
</html>
