{% extends "layout.html" %}
{% block body %}
      <div class="row text-center" style="text-align:right;">
      <div class="field centered ten columns">  
         <form action="/edituser" method="post" name="edit_user">
            <fieldset>
         <legend>Editr</legend>
          <ul class ="two_up tiles">
    <li class="field">
    <label class="centered inline" for="text1">Name</label>
               <input name="f_name"  class="wide text input" type="text" /> 
     </li>  
     <li class="field">      
      <label class="centered inline" for="text1">Last name</label>  
                                            
               <input name="l_name" class="wide text input" type="text" />
               </li> 
                 <li class="field">      
      <label class="centered inline" for="text1">Login</label> 
               
               <input name="login" type="text" class="wide text input"/>
               </li>
                                            <li class="field">      
      <label class="centered inline" for="text1">Password</label> 
               <input name="password" type="password" class="wide text input"/>
</li>
 <li class="field">      
      <label class="centered inline" for="text1">
      Email</label>
               <input name="email" type="text" class="wide text input"/>
</li>
               <li class="field">      
      <label class="centered inline" for="text1">
               Status</label>
               <input name="status" type="number" class="wide text input"/>
               </li>

                           <li class="field"> 
                           <div class="picker">
               <select name="id_role" size="1"><option value="1">Waiter</option><option value="2">Cooker</option><option value="2">Manager</option><option value="admin">Admin</option></select>
                 </div>
</li>
            
      <div  class="medium success btn centered four columns"><input type="submit" value="Save"/></div>
      </ul>
      </fieldset>
         </form>

      </div>
      </div>


  {% endblock %}
