{% extends "layout.html" %} {% block body %}

<div class="row text-center">


	<div class="field centered ten columns">
		<form method="post" name="loginform" action="/login">
			<fieldset>
				<legend>Please, enter your login and password</legend>
				<li class="field"><label class="centered inline" for="text1">Your
						Login</label> <input class="narrow text input" id="text1" type="text"
					placeholder="wide input" name="username" /></li>
				<li class="field"><label class="inline" for="text2">Password</label>
					<input class="narrow password input" id="text2" type="password"
					placeholder="wide input" name="password" /></li>
				</ul>
			</fieldset>
			<div class="medium success btn centered four columns">
				<input type="submit" />
			</div>
		</form>
	</div>
</div>

{% endblock %}
