<!DOCTYPE html>

   <head>
       
       
       <title>Title</title>


 
   </head>
   <body>
       <div class="row navbar metro" id="nav1"></div>
     <div id = "content"></div>

     <script type="text/template" id= "loginpage">

   <div class="row text-center">

   <div class="field centered ten columns">
       <form method="post" name="loginform" id="loginform" action = "/login">
           <fieldset>
               <legend>Please, enter your login and password</legend>
               <ul>
               <li class="field"><label class="centered inline" for="text1">Your
                       Login</label> <input class="narrow text input" id="text1" type="text"
                   placeholder="login" name="username" /></li>
               <li class="field"><label class="inline" for="text2">Password</label>
                   <input class="narrow password input" id="text2" type="password"
                   placeholder="password" name="password" /></li>
               </ul>
           </fieldset>
           <div class="medium success btn centered four columns">
               <input type="submit" id="trylog"/>
           </div>
       </form>
   </div>
</div>
</script>

<script type="text/template" id= "adminpage">

   <div class="row text-center" style="text-align:right;">
   <div class="field centered ten columns">
     <form action="/adduser" method="post" name="new_user" id="new_user">
       <fieldset>
         <legend>Add user</legend>

         <ul class="two_up tiles">
           <li class="field"><label class="centered inline" for="text1">Name</label>
           <input name="f_name" class="wide text input" type="text" /></li>

           <li class="field"><label class="centered inline" for="text1">Last
           name</label> <input name="l_name" class="wide text input" type="text" /></li>

           <li class="field"><label class="centered inline" for="text1">Login</label>
           <input name="login" type="text" class="wide text input" /></li>

           <li class="field"><label class="centered inline" for="text1">Password</label>
           <input name="password" type="password" class="wide text input" /></li>

           <li class="field"><label class="centered inline" for="text1">Email</label>
           <input name="email" type="text" class="wide text input" /></li>

           <li class="field"><label class="centered inline" for="text1">Status</label>
           <input name="status" type="number" class="wide text input" /></li>

           <li class="field">
             <div class="picker">
               <select name="id_role" size="1">
                 <option value="1">
                   Waiter
                 </option>

                 <option value="2">
                   Cooker
                 </option>

                 <option value="2">
                   Manager
                 </option>

                 <option value="admin">
                   Admin
                 </option>
               </select>
             </div>
           </li>

           <li style="list-style: none; display: inline">
             <div class="medium success btn centered four columns">
               <input type="submit" value="Add user" />
             </div>
           </li>
         </ul>
       </fieldset>
     </form>
   </div>
 </div> 

 <table align="center" border="1" cellpadding="1" cellspacing="1" id='users_table'>
   <caption>
     All users
   </caption>

   <thead>
     <tr>
       <th scope="col">Name</th>

       <th scope="col">Last name</th>

       <th scope="col">Login</th>

       <th scope="col">Email</th>

       <th scope="col">Role</th>

       <th scope="col">Edit</th>

       <th scope="col">Delete</th>

       <th scope="col">
         <form id="deleteall" method="post" action="/deleteall" name="deleteall"></form>

         <div class="small success btn">
           <input type="submit" value="X" form="deleteall" />
         </div>
       </th>
       
     </tr>
   </thead>

   <tbody>
   {% for usr in all_users %}
     <tr>
       <td>{{usr.l_name}}</td>

       <td>{{usr.f_name}}</td>

       <td>{{usr.login}}</td>

       <td>{{usr.email}}</td>

       <td>{{usr.id_role}}</td>

       <td>
         <div class="small success btn">
           <a href='/edit_user?id={{usr.id}}'>Edit</a>
         </div>
       </td>

       <td>
         <div class="small success btn">
           <input type='button' onclick="document.location='/delete_user?id={{usr.id}}'"
           value="Delete" />
         </div>
       </td>

       <td><input form="deleteall" name="ch_{{usr.id}}" type="checkbox" value=
       "{{usr.id}}" style="align:center;" /></td>
       {% endfor %}
     </tr>
   </tbody>
 </table>
</script><!-- Admin Page template -->
<script type="text/template" id="cookerpage">
  <div class="row text-center" style="text-align:right;">
      <div class="field centered ten columns">  
         <form method="post" name="create_menu_form" action="/add_menu">
         <fieldset>
         <legend>Add dishes</legend>
            
            <ul class ="two_up tiles">
    <li class="field">
    <label class="centered inline" for="text1">Dish name</label>
    <input class="wide text input" name="name" type="text" /> 
    </li>
    <li class="field">
    <label class="centered inline" for="text1">Image</label>
    <input class="wide text input" name="image" type="text" />
    </li>
  <li class="field">
    <label class="centered inline" for="text1">Price</label>
    <input class="wide text input" name="price" type="text" />
    </li>
            
            
    <li class="field">
    <label class="centered inline" for="text1">Status</label>
    <input class="wide text input" name="status" type="text" />
</li>
<li class="field">
    <label class="centered inline" for="text1">Count</label>
   <input name="count" class="wide text input" type="text" />
          </li>  

  <li class="append field">

    <div class="picker">
    <select name = "id_category" >
    
    <option disabled>Category</option>
    {% for cat in all_categories %}
    <option  value="{{cat.id}}">{{cat.category}}</option>
    {% endfor %}
    </select>

  </div>


</li>
    <div class="small success btn "> <a>Edit category</a></div>
               
 <li class="field">
    <label class="centered inline" for="text1">Description</label>
               <input class="wide text input" name="Description" />
               </li>   
            
               <div  class="medium success btn centered four columns"><input type="submit" value="Add menu"/></div>
               <div class="small success btn"><a href="/add_category">Add category</a></div>
               </li>
              </ul>
</fieldset>


         </form>
      </div>
      </div>

<div class="medium secondary btn"><a href="#">Category</a></div>
{% for cat in all_categories %}
<div class="medium secondary btn"><a href="/cookerlist?id={{cat.id}}">{{cat.category}}</a></div>
{% endfor %}
      <table align="center" border="1" cellpadding="1" cellspacing="1">
      
       
         <thead>
            <tr>
               <th scope="col">
                  Id
               </th>
               <th scope="col">
                  Name
               </th>
               <th scope="col">
                  Description
               </th>
               <th scope="col">
                  Price
               </th>
               <th scope="col">
                  Image
               </th>
               <th scope="col">
                  Status
               </th>
               <th scope="col">
                  Count
               </th>
               <th scope="col">
                  Category
               <th scope="col">
                  Edit
               <th scope="col">
                  Delete
               </th>
               <th scope="col">
                  <input name="choos_all" type="checkbox" />
               </th>
            </tr>
         </thead>
         <tbody>
            {% for dish in all_dishes %}
            <tr>
               <td class="striped">
                  {{dish.id}}
               </td>
               <td>
                  {{dish.name}}
               </td>
               <td>
                  {{dish.description}}
               </td>
               <td>
                  {{dish.price}}
               </td>
               <td>
                  {{dish.image}}
               </td>
               <td>
                  {{dish.status}}
               </td>
               <td>
                  {{dish.count}}
               </td>
               <td>
                  {{dish.id_category}}
               </td>
               <td>
                  <div  class="small success btn">
                    <input type="button" value = "Edit" onclick="document.location = '/edit_item_menu?id={{dish.id}}';" />
                  </div>
                </td>
               <td>
                  <div  class="small success btn">
                    <input type="button" onclick="document.location = '/delete_item_menu?id={{dish.id}}'" value = "Remove"/>
                  </div>
                </td>
               <td><input name="choos_one" type="checkbox" /></td>
               {% endfor %} 
            </tr>
         </tbody>
      </table>
</script>

<script type="text/template" id="waiterpage">
  <div class="row text-center" style="text-align:right;">
  <div class="field centered nine columns">
    <form method="post" name="make_order" action="/create_order">
      <fieldset>
        <legend>Create order</legend>
        <ul class ="four_up tiles">
          <li class="field">
          <li class="field">
            <div class="picker">
              <select>
                <option value="#" disabled>Dishes</option>
                <option>Dishes</option>
              </select>
            </div>
          </li>
          <li class="append field">
            
            <label class="centered inline">Count</label>
            <input  class="narrow text input" name="count" type="text" />
            <div class="medium success btn oval"> <i class="icon-plus"></i></div>
  </div>
  </li> 
  <div  class="medium success btn centered four columns"><input type="submit" value="Add to cart"/></div>
  <div  class="small success btn">
  <a href="/view_orders">View my orders</a>
  <input type="button" value = "vieworders" />  
  </div> 
  </li>
  </ul>
  </fieldset>
  </form>
  
</div>
<div class="medium secondary btn"><a href="#">Show all</a></div>
<table align="center" border="1" cellpadding="1" cellspacing="1">
  <thead>
    <tr>
      <th scope="col">
        Id
      </th>
      <th scope="col">
        Name
      </th>
      <th scope="col">
        Description
      </th>
      <th scope="col">
        Price
      </th>
      <th scope="col">
        Image
      </th>
      <th scope="col">
        Status
      </th>
      <th scope="col">
        Count
      </th>
      <th scope="col">
        Category
      </th>
    </tr>
  </thead>
  <tbody>
    {% for dish in all_dishes %}
    <tr>
      <td >
        {{dish.id}}
      </td>
      <td>
        {{dish.name}}
      </td>
      <td>
        {{dish.description}}
      </td>
      <td>
        {{dish.price}}
      </td>
      <td>
        {{dish.image}}
      </td>
      <td>
        {{dish.status}}
      </td>
      <td>
        {{dish.count}}
      </td>
      <td>
        {{dish.id_category}}
      </td>
      <td>
        
      </td>
      {% endfor %} 
    </tr>
  </tbody>
</table>
</script>

<!-- orders test table for backbone -->
<script type="text/template" id="orders_template">
<fieldset>
    <legend>Orders: </legend>
    <table align="center" border="1" cellpadding="1" cellspacing="1">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Status</th>
                <th scope="col">Waiter</th>
                <th scope="col">Price</th>
                <th scope="col">Edit</th>
                <th scope="col"></th>
                <th scope="col">
                    <div class="small success btn">
                        <input onclick="document.location='#close'" value="Close all" type="button">
                        <form id="deleteall" method="post" action="#deleteall" name="delete">
                             <input name="all" value="1" style="align: center; height: 28px; width: 97px" type="checkbox">                        
                        </form>

                    </div>
                </th>
            </tr>

        </thead>
        <tbody>
            <% _.each(orders.toArray(), function(order){
            %>
            <tr>
                <td><%= order.get("id") %></td>
                <td>status: <%= order.get("status") %></td>
                <td><%= order.get("waiter_name") %>waiter name</td>
                <td><%= order.get("full_price") %>full price</td>
                <td>
                    <div class="small success btn">
                        <input onclick="document.location='#/edit_order/<%= order.get("id") %>'" value="Edit"
                            type="button">
                    </div>
                </td>
                <td>
                    <div class="small success btn">
                        <input onclick="document.location='#close'" value="Close"
                            type="button">
                    </div>
                </td>
                <td>
                    <input form="deleteall" name="ch_1" value="1"
                        style="align: center; height: 28px; width: 97px" type="checkbox">
                </td>

            </tr>
            <% })%>
        </tbody>
    </table>
</fieldset>
</script>
<!-- END orders test table for backbone -->

     <link rel="stylesheet" type="text/css"
   href="static/css/gumby.css">
   <script type=text/javascript data-main="static/js/main.js"src="static/js/libs/requirejs/require.js"></script>
   
   







   </body>




</html>
