<!DOCTYPE html>

<head>


<title>Title</title>



</head>
<body>
	<div class="row navbar metro head" gumby-fixed="top" id="nav1"> <a href="#" class="css_btn_class">&#9776</a></div>

</a>
</div>
	<div id="content"></div>
    <div id="innerdata"></div>
  <div id="data_table"></div>


	<link rel="stylesheet" type="text/css" href="static/css/gumby.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
	<script type=text/javascript data-main="static/js/main.js" src="static/js/libs/requirejs/require.js"></script>

</body>
<div class="row navbar metro footer" gumby-fixed="top" id="foo1">



</html>
