{% block body %}
<fieldset>
	<legend>Orders: </legend>
	<table align="center" border="1" cellpadding="1" cellspacing="1">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Status</th>
				<th scope="col">Waiter</th>
				<th scope="col">Price</th>
				<th scope="col">Edit</th>
				<th scope="col"></th>
				<th scope="col">
					<div class="small success btn">
						<input onclick="document.location='#close'" value="Close all"
							type="button">
					</div>
				</th>
			</tr>

		</thead>
		<tbody>
			{% for order in orders %}
			<tr>
				<td>{{order.id}}</td>
				<td>
				{% if order.status == 1 %}
                    pending
				{% else %}
				    close
				{% endif %}
				</td>
				<td>{{waiter_name}}waiter name</td>
				<td>{{full_price}}full price</td>
				<td>
                    <div class="small success btn">
                        <input onclick="document.location='edit_order?id={{order.id}}'" value="Edit"
                            type="button">
                    </div>
                </td>
				<td>
					<div class="small success btn">
						<input onclick="document.location='#close'" value="Close"
							type="button">
					</div>
				</td>
				<td>
					<input form="deleteall" name="ch_1" value="1"
						style="align: center; height: 28px; width: 97px" type="checkbox">
				</td>

			</tr>
			{% endfor %}
		</tbody>

	</table>
</fieldset>
{% endblock %}
